## Gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat
/build.gradle

## ForgeGradle
/run

## Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## Intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## Minecraft
/config
/logs
/mods
/resourcepacks
/saves
/options.txt